// @font-face {
//     src: url(../../fonts/OpenSans-Bold.ttf);
//     font-family: OpenSans-Bold;
// }

// @font-face {
//     src: url(../../fonts/OpenSans-Light.ttf);
//     font-family: OpenSans-Light;
// }

// @font-face {
//     src: url(../../fonts/OpenSans-Regular.ttf);
//     font-family: OpenSans;
// }


@font-face {
    font-family: PlexRegular;
    src: url('../../fonts/IBM/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: PlexBold;
    src: url('../../fonts/IBM/IBMPlexSans-Bold.ttf');
}