// @font-face {
//     src: url(../../fonts/OpenSans-Bold.ttf);
//     font-family: OpenSans-Bold;
// }

// @font-face {
//     src: url(../../fonts/OpenSans-Light.ttf);
//     font-family: OpenSans-Light;
// }

// @font-face {
//     src: url(../../fonts/OpenSans-Regular.ttf);
//     font-family: OpenSans;
// }


@font-face {
    font-family: PlexRegular;
    src: url('../../fonts/IBM/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: PlexBold;
    src: url('../../fonts/IBM/IBMPlexSans-Bold.ttf');
}

@font-face {
    font-family: karnak;
    src: url('../fonts/karnakcondensed-normal-700.woff2');
}
@font-face {
    font-family: ClearSansBold;
    src: url('../fonts/clear-sans/ClearSans-Bold.ttf');
}
@font-face {
    font-family: ClearSans;
    src: url('../fonts/clear-sans/ClearSans-Regular.ttf');
}