.wordle-mat-container {
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
	height: 250px;
	display: flex;
	flex-direction: column;
}
.game-container {
	width: 300px;
	height: 375px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	:last-child {
		padding-bottom: 10px;
	}
	.row-container {
		flex: 33%;
		display: flex;
		flex-direction: row;
		margin: 5px;
	}
	.square {
		height: 32px;
		width: 32px;
		border: 2px solid #d3d6da;
	}
	.letter {
		flex: 33%;
		height: 100%;
		border: 1px solid grey;
		margin: 5px;
		display: grid;
		place-items: center;
		font-size: 30px;
		font-weight: bolder;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
	}
}
