.wordle-mat-container {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    height: 250px;
    display: flex;
    flex-direction: column;
}
.game-container {
    width: 350px;
    height: 420px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
    section:last-of-type {
        padding-bottom: 10px;
    }
    .row-container {
        display: flex;
        justify-content: space-between;
    }
    .square {
        height: 62px;
        width: 62px;
        border: 2px solid #d3d6da;
    }
    .letter {
        height: 100%;
        display: grid;
        place-items: center;
        font-size: 30px;
        font-weight: bolder;
        color: #ffffff;
        font-family: ClearSans, Helvetica, sans-serif;
        width: 62px;
        height: 62px;
    }
    .correct {
        background-color: #6aaa64;
    }

    .almost {
        background-color: #c9b458;
    }

    .error {
        background-color: #787c7e;
    }
}
